@model List<UserViewModel>
@{
    ViewData["Title"] = "Users";
}
<app-root></app-root>

@section Scripts {
    <script asp-src-include="~/ngdist/runtime.*.js" asp-append-version="true"></script>
    <script asp-src-include="~/ngdist/polyfills.*.js" asp-append-version="true"></script>
    <script asp-src-include="~/ngdist/main.*.js" asp-append-version="true"></script>
}

@*<div class="text-center">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">UserName</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td scope="row">@user.UserName</td>
                    <td scope="row">@user.FirstName</td>
                    <td scope="row">@user.LastName</td>
                    <td scope="row">@user.Email</td>
                    <td scope="row">@user.PhoneNumber</td>
                </tr>
            };
        </tbody>
    </table>

    @foreach(var user in Model)
    {
        
    }
</div>*@
